# Ignore junk
.idea/
*.pyc
test.py
log.txt
complexity_report*
*.log
*.*\#
*.*~

# Ignore User Modules and Data
/caster/user
/caster/bin/data/*.json

# Ignore Custom Sikuli Scripts
/caster/asynch/sikuli/scripts

# Ignore SonarQube
.sonar
sonar-project.properties
